<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Productos por categoría</title>
		<style type="text/css">
			body{
				color:purple;
			}
			h1{
				text-align: center;
			}
			div {
				width: 400px;
				margin: 50px auto;
				padding: 15px;
				background-color: smocke;
				border: 1px solid purple;
			}
			a {
				display: block;
				width:60%;
				border: 1px solid purple; 
				margin: 0 auto;
				margin-bottom : 20px;
				padding: 15px;
				margin-bottom: 20px;
				text-decoration: none;
			}
			a:hover {
				background: purple;
				color:white;
			}
		</style>
	</head>
	<body>
		<h2>Productos de <span th:text="${param.categoria}"></span></h2>
		<table border="1">
			<tr>
				<th>Nombre</th>
				<th>Precio</th>
			</tr>
			<tr th:each="pr:${resultados}">
				<td th:text="${pr.nombre}"></td>
				<td th:text="${pr.precio}"></td>
			</tr>
		</table>
		<a href="toMenu">Volver a home</a>
	</body>
</html>